.baseContainer {
    width: 90%;
}

.baseContainerTitle {
    color: lightblue;
    
    margin-bottom: 5px;
}

.baseInputs {
    width: 100%;
    height: 25px;

    outline: none;

    border: none;
    border-bottom: 1px solid lightblue;
}