.container {
    width: 90%;

    margin: 0 auto;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculations {
    width: 90%;
    height: 60px;

    margin: 15px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.barPorcentage {
    height: 30px;
    width: 90%;

    margin-top: 15px;

    border: 1px solid black;

    background-color: green;
}

.copyright {
    margin-top: 30px;
}