.container {
    width: 90%;

    margin: 0 auto;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculations {
    width: 90%;
    height: 60px;

    margin: 15px 0;

    display: flex;
    /* justify-content: space-between; */
    /* align-content: center; */

    background-color: red;
}